.container{
    position: relative;
    min-height: 100vh;
}
.top-container{
    background-color: #344E41;
    color: #edf6f9;
    margin: 0;
    text-align: center;
}
.top-container-h1{
    font-family: 'rusticoregular', sans-serif;
    font-size: 7.265rem;
    margin: 0px auto 0px auto;
}
.top-container-p{
    font-size: 1.5rem;
    margin: 0px auto 50px auto;
}
.middle-container{
    background-color: #ffffff;
}
.middle-container-section-1{
    margin: auto 50px auto 50px
}
.middle-container-section-2{
    margin: auto 50px auto 50px
}
.middle-container-p-1{
    text-align: right;
    display: inline-block;
}
.middle-container-h3-1{
    text-align: right;
    margin-bottom: 0px
}
.middle-container-h3-2{
    text-align: left;
    margin-bottom: 0px;
}
.middle-container-p-2{
    text-align: left;
    display: inline-block;
}
.middle-container-span-1{
    text-decoration: underline;
}
.middle-container-image-div-1{
    display: inline-block;
}
.middle-container-p-div-1{
    display: inline-block;
}
.bottom-container{
    background-color: #588157;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.footer-link{
    font-family: 'Roboto', sans-serif;
    color: #3A5A40;
}
.test-photo{
    margin: 50px auto 0 auto;
}
.test-content-1{
    float: left;
    margin-right: 30px;
}
.test-content-2{
    float: right;
    margin: auto auto 30px 30px;
}
p, h3 {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0px;
}
@font-face {
    font-family: 'rusticoregular';
    src: url('fonts/rustico-regular-webfont.woff2') format('woff2'),
         url('fonts/rustico-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}